@model ApartmentModel;

@{
    Layout = "~/Views/Shared/_ContainerDefault.cshtml";
    ViewData["Title"] = "Редагувати";
}

<h3>Редагувати кімнату</h3>
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" value="@Model.Id" hidden>
    <div class="form-group mb-3">
        <label asp-for="RealId" class="control-label">Номер кімнати</label>
        <input asp-for="RealId" class="form-control" value="@Model.RealId">
        <span asp-validation-for="RealId" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="FloorId" class="control-label">Поверх</label>
        <select asp-for="FloorId" class="form-control">
            @{
                foreach (var floor in ViewBag.Floors)
                {
                    if (Model.Floor.Value == floor.Value)
                    {
                        <option value="@floor.Id" selected>@floor.Value</option>
                    } else
                    {
                        <option value="@floor.Id">@floor.Value</option>
                    }
                }
            }
        </select>
        <span asp-validation-for="FloorId" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="TypeId" class="control-label">Тип</label>
        <select asp-for="TypeId" class="form-control">
            @{
                foreach (var type in ViewBag.ApartmentTypes)
                {
                    if (Model.TypeId == type.Id)
                    {
                        <option value="@type.Id" selected>@type.Name</option>
                    }
                    else
                    {
                        <option value="@type.Id">@type.Name</option>
                    }

                }
            }
        </select>
        <span asp-validation-for="FloorId" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Price" class="control-label">Ціна за одну ніч</label>
        <input asp-for="Price" class="form-control" value="@Model.Price">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Area" class="control-label">Площа м<sup>2</sup></label>
        <input asp-for="Area" class="form-control" value="@Model.Area">
        <span asp-validation-for="Area" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="RoomsCount" class="control-label">К-сть кімнат</label>
        <input asp-for="RoomsCount" class="form-control" value="@Model.RoomsCount">
        <span asp-validation-for="RoomsCount" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Title" class="control-label">Заголовок</label>
        <input asp-for="Title" class="form-control" value="@Model.Title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="ShortDescription" class="control-label">Короткий опис</label>
        <textarea asp-for="ShortDescription" class="form-control">@Model.ShortDescription</textarea>
        <span asp-validation-for="ShortDescription" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Description" class="control-label">Опис</label>
        <textarea asp-for="Description" class="form-control">@Model.Description</textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        @{
            if (Model.HasConditioner)
            {
                <input asp-for="HasConditioner" class="form-check-input" checked>
            } else
            {
                <input asp-for="HasConditioner" class="form-check-input" />
            }
        }
        <label asp-for="HasConditioner" class="form-check-label">Наявність кондиціонеру</label>
        <span asp-validation-for="HasConditioner" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <input type="submit" value="Змінити" class="btn btn-primary" />
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
